$main-color: #1755e7;
$secondary-color: #f38c16;
$secondary-color-shadow: hsla(32, 90%, 52%, 0.644);
$light-secondary-color: #f9b700;
$solar: rgb(255, 242, 0);
$pure-white: #fff;
$light-white: #68686e;
$dark: rgb(13, 42, 73);
$nav: hsla(0, 0%, 0%, 0.329);
$green-color: #00ffaa;
$green-color-hover: #0fe29c;
$mid-section: linear-gradient(200deg, #164474 0%, #33BAAD 100%);
$mid-section-card: linear-gradient(200deg, #164474 0%, #33BAAD 180%);

$light-blue-gradient: linear-gradient(45deg, rgba(8, 206, 255, 0.75), rgba(8, 24, 255, 0.75));
$blue-gradient: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75));
$purple-gradient: linear-gradient(45deg, rgba(190, 10, 214, 0.75), rgba(68, 0, 255, 0.75));
$blue-gradient-solid: linear-gradient(45deg, rgb(20, 105, 241), rgb(42, 10, 184));
$light-blue-gradient-solid: radial-gradient(circle at top right, rgb(0, 78, 255) 0%, rgb(0, 212, 255) 100%);
$orange-blue-gradient: linear-gradient(180deg, rgb(36, 119, 135) 0%, rgb(193, 109, 0) 0%, rgb(42, 10, 184) 100%);
